[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
girder-client = "*"
toml = "*"
pyudev = {version = "*", sys_platform = "== 'linux'"}
python-magic = {version = "*", sys_platform = "== 'linux'"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
